.resultListDiv {
    display: inline-block;
	padding-top: 2vh;
    width: 48vw;
    height: 100%;
	overflow: hidden;
	min-width: 540px;
	word-break: break-word;
	white-space: break-spaces;
  }

.error {
	padding-left: 40px;
}
 .resultList {
 	list-style: none;
 	height: 76%;
	overflow: scroll; 
	padding-top: 5px;
 }

.result {
	display: grid;
}

.result:hover {
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

::-webkit-scrollbar { 
    display: none; 
}

#nearby {
	margin-top: 0px;
	padding-left: 40px;
}